<section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <header>
            <h2>Item.Directory</h2>
        </header>
        <label>Email</label>
        <input type="text" formControlName="email" 
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <mark *ngIf="submitted && f.email.errors">
            <span *ngIf="f.email.errors.required">Email is required</span>
            <span *ngIf="f.email.errors.email">Email is invalid</span>
        </mark>
        <br />
        <label>Password</label>
        <input type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <mark *ngIf="submitted && f.password.errors">
            <span *ngIf="f.password.errors.required">Password is required</span>
        </mark>
        <br />
        <button [disabled]="loading">
            <span *ngIf="loading">...</span>
            Login
        </button>
        <br />
        <a routerLink="../register" class="btn btn-link">Register</a>
        <br />
        <a routerLink="../forgot-password" class="btn btn-link pr-0">Forgot Password?</a>
    </form>
</section>